@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.font {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    color: #FFFFFF;
    text-align:end;
}

.body {
    background-color: #040404;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20211009/pngtree-matrix-data-code-hacker-background-image_908351.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    height: 100vh;
}

section.notFound h1 {
    color: red;
    font-size: 100px;
}

section.notFound h2 {
    font-size: 50px;
}

section.notFound h1, h2, h3 {
    margin-bottom: 40px;
}

.text {
    height: 50vh;
    padding-right: 20px;
}

div.text a {
    text-decoration: none;
    margin: 20px;
}

div.text a:hover {
    color: red;
    text-decoration: underline; 
}

@media only screen and (max-width: 768px) {
    section.notFound {
        flex-direction: column;
        justify-content: space-around;
    }
    section.notFound div.img img {
        width: 70vw;
        height: auto;
    }
    section.notFound h1 {
        font-size: 50px;
    }
    section.notFound h2 {
        font-size: 25px;
    }
    div.text a:active {
    color: red;
    text-decoration: underline; 
  }
}