.feature-img {
  height: 60px;
  width: 160px;
}

.work-type {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  flex: none;
  order: 0;
  flex-grow: 0;
  border:1px solid #7e90fe;
}
.btn-type{
    background:linear-gradient(90deg, #7e90fe 0%, #9873ff 100%) ;
    border: none;
}