.hero-title {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 100px;
}
.hero-title2 {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}



.area-p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
.hero-area{
    background: linear-gradient(
        90deg,
        rgba(126, 144, 254, 0.05) 0%,
        rgba(152, 115, 255, 0.05) 100%
      );
}
.area-img{
  background-image: url(/public/Image/man.png);
}


@media only screen and (max-width: 768px) {
  .hero-title{
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height:50px;
  }
}

@media only screen and (max-width: 768px) {

}